.complete {
    background: #d6fff3;
}

#tasks {
    margin-top: 20px;
    text-align: center;
    outline: none;
}

.tasks-btn, .save {
    margin-right: 10px;
}

.editTask:hover, .del:hover {
    color: #696969;
    cursor: pointer;
}

th:first-child, td:first-child {
    width: 5%;
}

th:last-child, td:last-child {
    width: 10%;
}

th:nth-child(4), td:nth-child(4) {
    width: 10%;
}

table {
    table-layout: fixed;
}

th {
    text-align: center;
}

ul.nav {
    margin-top: 0.625em
}

td {
    vertical-align: middle !important;
}

.pointer {
    cursor: pointer;
}
#form {
    width: 400px;
    margin: 0 auto;
}
#form button{
    float: right;
}

